config.stopBubbling=true
lombok.anyConstructor.addConstructorProperties=true
lombok.addLombokGeneratedAnnotation=true
lombok.log.fieldName=LOG
lombok.log.apacheCommons.flagUsage=error
lombok.log.javaUtilLogging.flagUsage=error
lombok.log.jbosslog.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.log.xslf4j.flagUsage=error
lombok.equalsAndHashCode.callSuper=call
lombok.equalsAndHashCode.doNotUseGetters=true
lombok.tostring.callsuper=call
lombok.tostring.donotusegetters=true
lombok.singular.useGuava=true
lombok.experimental.flagUsage=error
