name: Release
on:
  release:
    types: [ published ]
jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish RELEASE
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
      - name: Setup Java SDK
        uses: actions/setup-java@v2
        with:
          java-version: 11
          java-package: jdk
          distribution: adopt
          architecture: x64
          # this also creates settings.xml with the following server
          server-id: oss-sonatype # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: SONATYPE_USERNAME # env variable for username in deploy
          server-password: SONATYPE_PASSWORD # env variable for token in deploy
          # only signed artifacts will be released to maven central. this sets up things for the maven-gpg-plugin
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          gpg-passphrase: GPG_PASSPHRASE # env variable for GPG private key passphrase
          settings-path: ${{ github.workspace }}
      - name: Cache local Maven repository
        uses: actions/cache@v3.0.5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Release artifacts
        run: |
          RELEASE_VERSION=$(echo "${GITHUB_REF#refs/*/v}")
          echo "Release version: ${RELEASE_VERSION}"
          mvn org.codehaus.mojo:versions-maven-plugin:2.8.1:set -DnewVersion=${RELEASE_VERSION}
          mvn deploy -s $GITHUB_WORKSPACE/settings.xml --settings /home/runner/.m2/settings.xml -B -P oss-release -Dskip.unit.tests=true -Dskip.integration.tests=true
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PRIVATE_KEY_PASSPHRASE }}
